/* CSS kodları burada yer alır */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: #4285f4;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.search-button {
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* Hover etkisi */
.search-button:hover {
    background-color: #3367d6;
}

/* Responsive tasarım */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .logo {
        font-size: 36px;
    }

    .search-input {
        font-size: 18px;
    }

    .search-button {
        font-size: 18px;
    }
}
